$messageFontSize: 1rem;

$darkBg: #242424;
$danger: #dc3545;
$success: #28a745;
$lightText: #f8f9fa;
$font: "Roboto", sans-serif;
$highlight: #35bce6;
// $highlight: #26a69a;
$borderColor: #585858;
$darkLightBg: #2c2c2c;
$darkText: #1c1c1c;
$darkHighlightBg: #11608f;
// $darkHighlightBg: #187964;
$darkerHighlightBg: #142434;
$darkerBg: #151617;
@mixin custom-scroll {
	&::-webkit-scrollbar {
		width: 0.2rem;
		&:hover {
			width: 0.3rem;
		}
	}

	&::-webkit-scrollbar-thumb {
		background-color: $borderColor;
		border-radius: 5px;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
}
