.container {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 10px;
}

.messageBox {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 5rem;
	scroll-behavior: smooth;
	@include custom-scroll;
}

.scrollDownIcon {
	position: absolute;
	bottom: 5rem;
	left: 2rem;
	z-index: 99;
	cursor: pointer;
	svg {
		font-size: 1.3rem;
		color: $lightText;
	}
}
