.sidenav-container {
	display: flex;
	position: relative;
	// overflow: hidden;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 10;
	.sidenav-max {
		position: relative !important;
		background-color: #242424;
		z-index: 11;
		height: 100%;
		.subheader {
			color: #ffffff55;
		}

		li a {
			color: inherit;
		}

		.sidenav-icon {
			margin-right: 1rem;
			color: inherit;
		}
	}

	.sidenav-min {
		background-color: #242424;
		height: 100%;
		z-index: 12;
		li {
			list-style: none;
			padding: 0.5rem 1rem;
			&:first-child {
				padding-top: 1rem;
				margin-bottom: 5rem;
			}
		}
		a {
			text-decoration: none;
			color: #ffffff;
		}
		.icon {
			font-size: 1.5rem;
			cursor: pointer;
			color: white;
		}
	}
}
