.sidenavContainer {
	display: flex;
	position: fixed;
	// overflow: hidden;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 10;
	.sidenavMax {
		position: relative !important;
		background-color: #242424;
		z-index: 11;
		height: 100%;
		transition: width 0.3s ease-out;
		transition-delay: 0.1s;
		overflow-x: hidden;
		width: 300px;
		.subheader {
			color: #ffffff55;
		}

		li a {
			color: inherit;
		}

		.sidenavIcon {
			margin-right: 1rem;
			color: inherit;
		}
	}
	.sidenavMin {
		background-color: #242424;
		height: 100%;
		z-index: 12;
		li {
			list-style: none;
			padding: 0.5rem 1rem;
			&:first-child {
				padding-top: 1rem;
				margin-bottom: 5rem;
			}
		}
		a {
			text-decoration: none;
			color: #ffffff;
		}
		.icon {
			font-size: 1.5rem;
			cursor: pointer;
			color: white;
			aspect-ratio: 1;
		}
	}
}

.background {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("assets/office.png");
}
