.sidenavContainer {
	display: flex;
	position: fixed;
	// overflow: hidden;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 100000;
	.sidenavMax {
		position: relative !important;
		background-color: #242424;
		z-index: 11;
		height: 100%;
		transition: width 0.3s ease-out;
		transition-delay: 0.1s;
		overflow-x: hidden;
		width: 300px;
		.subheader {
			color: #ffffff55;
			font-style: italic;
		}
		.divider {
			background-color: #ffffff55;
		}

		li a {
			color: inherit;
		}

		.sidenavIcon {
			margin-right: 1rem;
			color: inherit;
		}
	}
	.sidenavMin {
		background-color: #242424;
		height: 100%;
		z-index: 12;
		li {
			list-style: none;
			padding: 0.5rem 1rem;
			&:first-child {
				padding-top: 1rem;
				margin-bottom: 5rem;
			}
		}
		a {
			text-decoration: none;
			color: #ffffff;
		}
		.icon {
			font-size: 1.5rem;
			cursor: pointer;
			color: white;
			aspect-ratio: 1;
		}
	}
}

.background {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("assets/office.png");
}
.groupContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.groupContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	gap: 1rem;
}

.groupImageContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.groupImage {
	height: 30px;
	aspect-ratio: 1;
	border-radius: 50%;
}
.groupDetails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	gap: 0.5rem;
}
.groupName {
	color: $lightText;
	line-height: normal;
	font-size: 1.1rem;
}
.lastMessage {
	color: $borderColor;
	line-height: normal;
}
