.preview {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
}
.title {
	font-size: 1.2rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
}

.image {
	max-height: 100px;
	border-radius: 1rem;
	margin-right: 1rem;
}
