@use "./utilities/variables" as *;

@at-root {
	html {
		font-family: $font;
		color: $lightText;
		background-color: $darkBg;

		color-scheme: light dark;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.mainContainer {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
