@import "materialize-css/sass/materialize.scss";

@at-root {
	html {
		font-family: $font;
		color: $lightText;
		background-color: $darkBg;

		color-scheme: light dark;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

main {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	transition: margin-left 0.3s ease-out;
	&.shift {
		margin-left: 350px;
	}
	&:not(.shift) {
		margin-left: 50px;
	}
}
