.container {
	position: absolute;
	bottom: 100%;
	padding: 1rem;
	background-color: $darkLightBg;
	min-height: 200px;
	margin-bottom: 1rem;
	border-radius: 1rem;
	width: 40%;
	@media screen and (max-width: 1000px) {
		:global(main.shift) & {
			width: 100%;
		}
	}
	&::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 20%;
		transform: translateX(-100%);
		border-width: 15px;
		border-style: solid;
		border-color: $darkLightBg transparent transparent transparent;
	}
	.icon {
		font-size: 1.2rem;
		z-index: 1;
		cursor: pointer;
		&:hover {
			color: $highlight;
		}
	}
}

.controls {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	padding: 0.5rem;
}
